.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1/-1;
    position: relative;
    width: 100%;

    display: block;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-content: flex-end;
        align-items: center;
    }

    &__check{
        display: none;
    }

    &__btn{
        height: 6rem;
        width: 7rem;
        background-color: $color-primary;
        cursor: pointer;
        z-index: 11;
    }


    &__icon,
    &:before,
    &:after{
        height: 2px;
        width: 4rem;
        background-color: white;
        position: fixed;
        top: 3rem;
        right: 3rem;
        z-index: 12;

        @media only screen and (min-width:62.5em ) {
            left: 2rem;
        }
    }

    &::before,
    &::after{
        content: "";
        position: fixed;
    }

    &::before{
        top: 2rem;

        @media only screen and (min-width:62.5em ) {
            left: 2rem;
        }
    }

    &::after{
        top: 4rem;
        
        @media only screen and (min-width:62.5em ) {
            left: 2rem;
        }
    }


    //MENU STYLING
    &__list{
        display: none;
        width: 20rem;
        height: 100%;
        background-color: $color-primary;
        list-style: none;
        padding: 2rem;
        text-decoration: none;

        @media only screen and (max-width:$bp-large) {
            width: 100%;
            height: 10rem;
        }

        @media only screen and (max-width:62.5em ) {
            padding: 0.5rem;
        }
    }

    &__item{
        padding: 1rem;
        width: 100%;
        text-align: center;

        &:hover{
            border-bottom: 1px solid $color-secondary;
            background-color: rgba(black, .04);
        }

        &:first-child{
            margin-top: 15rem;
        }

        @media only screen and (min-width:62.5em ) {
            margin-top: 4rem;
        }
    }


    //LINK STYLING
    &__link,
    &__link:link,
    &__link:active{
        text-decoration: none;
        width: 100%;
        color: white;
        font-size: 1.8rem;

    }

      

    &__check:checked ~ &__list{
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: flex-end;    
        align-items: flex-end;

        @media only screen and (min-width:62.5em ) {
            position: fixed;
            flex-direction: column;
            width: 15rem;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    
}

.nav-btn{
    border-radius: 0;
    border: none;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    cursor: pointer;
    z-index: 10;

    &::before,
    &::after{
        content: "";
        display: block;
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        cursor: pointer;
    }

    &::before{
        transform: translateY(-1.5rem);
    }

    &::after{
        transform: translateY(1.3rem);
    }

    @media only screen and (max-width: $bp-large) {
        margin-top: 0;
        margin-right: 3rem;

        &::before{
            transform: translateY(-1.2rem);
        }
    
        &::after{
            transform: translateY(1rem);
        }
    }
}

